<div class="row">
  <div class="col">
    <input type="text" 
     class="form-control"
     placeholder="search....."
     [(ngModel)]="filterBy"/>
     <!-- (input)="inputValue=$any($event.target).value"
     [value]="inputValue" -->
</div>
<div>
  text Typed:<span>{{filterBy}}</span>
</div>
</div>
<div class="row">
  <div class="col">
    <input type="checkbox" 
    class="form-check-input"
    [(ngModel)]="showImage">{{showImage}}
  </div>
</div>
  <div class="row row-cols-1 row-cols-sm-2 g-4">
    <div *ngFor="let product of filteredproducts">
      <div class="card" style="width: 18rem;">
        <div *ngIf="showImage">
          <img [src]="product.image" class="card-img-top" 
          [alt]="product.name"
          [title]="storename"
          [ngStyle]="imgStyle"
          >
        </div>
        <!-- [style.width.px]="180"
        [style.height.px]="180" -->
        <!-- > -->
        <div class="card-body">
          <h5 class="card-title" 
          [routerLink]="['/product',product.id]"
          [style.cusrsor]="'pointer'"
          [ngStyle]="titleStyles" appHighlight>{{product.name|titlecase}}</h5>
          <p class="card-text" [style.Color]="'blue'">{{product.description|slice:0:50}}</p>
          <strong>{{product.price|currency:'INR':'symbol':'1.1-3'}}</strong>
          <p>{{product.publishedDate|date:'dd-MMMM-yyyy'}}</p>
          <p appHighlight>{{product.code|convertToSpace}}</p>
          <p *ngIf="product.price>=60000;then
            discount1 else discount2">
          </p>
          <ng-template #discount1>
              <p [style.Color]="'red'">
                discount of flat 20%
              </p>
          </ng-template>
          <ng-template #discount2>
            <p [style.Color]="'red'">
              discount of flat 10%
            </p>
        </ng-template>
        <!-- <p>{{product.rating}}</p> -->
        <app-star [rating]="product.rating"></app-star>
        
          <div>
            <a href="#" class="btn btn-primary" (click)="addtocart($event,product,'done')">Add to cart</a>
          </div>
          
        </div>
      </div>
    
    </div>
  </div>